header{

}



.Notepad{
     background-position: 

}

.vanPic{
    background-origin: padding-box;
    text-align: right;
    font-size: xx-small;
}

.bannerIcons{
    text-align: right;
}

footer{
font-size: ;
}

.subfooter{
    text-align: ;
}

.ChocPizzaTitle{
    font-weight: bold;
    font-size: 30px;
}

.TitleHeader {
    font-weight: bold;
    font-size: 30px;
    font-family:cursive;
    display: inline;
}

.TheB{
    font-size: 10px;
    color: grey;
}

.Posted{
    font-size: 10px;
    color: grey;
}

.PRINT{
    color: grey;
    text-align: right;
}